<div id="navbar">
  <a style="background-color: #007bff">Welcome {{firstName}}</a>
  <a routerLink="wel" routerLinkActive="active">Home</a>
  <a routerLink="tweet" routerLinkActive="active">Tweet to world</a>
  <a routerLink="mytweet" routerLinkActive="active">My Tweets</a>
  <a routerLink="follower" routerLinkActive="active">Following</a>
  <a routerLink="following" routerLinkActive="active">Followers</a>
  <a routerLink="all" routerLinkActive="active">Twitter Users</a>
  <a routerLink="profile" routerLinkActive="active">Profile</a>
  <a routerLink="/login" style="float: right !important;">Logout</a>
</div>
