<div class="row" style="margin-top: 20px; background-color: white; margin-left: 20px; margin-right: 20px"
  *ngFor="let i of tweetContent">
  <div class="col-sm-1 col-md-1 col-lg-1" *ngIf="i.pic==null">
      <img src="src/assets/images/img.png" alt="Profile Pic" style="width:100px; height: 100px">
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1" *ngIf="i.pic!=null">
      <img [src]="i.pic" alt="Profile Pic" style="width:100px; height: 100px">
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12"><h3>{{i.name}}, {{i.state}}</h3></div>
    <div class="col-sm-12 col-md-12 col-lg-12">{{i.tweet}}</div>
  </div>
</div>
